<section class="about__page">
    <h1 class="title">Rick & Morty GraphQL APP</h1>
    <div class="about__container">
        <p>
            Angular 11 + Rick & Morty GraphQL API
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <figure class="about__img">
            <img src="assets/imgs/web_dev.svg" alt="Web dev" class="about__picture" rel="preload" as="image" with="406" height="306">
        </figure>
    </div>
    <p class="about__copy">
        Developed by <span class="text-white">Carlos Toro</span>
    </p>
</section>